.box1 {
    width: 30px;
    background-color: red;
    border:3px solid black;
    padding: 30px;
    margin: 20px;
}
.box2 {
    width: 30px;
    background-color: red;
    border: 3px dashed black;
    padding: 30px;
    margin-left: 200px;
    margin-top: 20px;
   
}
.box3 {
    width: 30px;
    background-color: red;
    border: 3px solid black;
    padding: 30px;
    margin-left: 200px;
    margin-bottom: 10px;
   
}

.box4 {
    width: 30px;
    background-color: red;
    border: 3px dotted black;
    padding: 30px;
    margin-bottom: 10px;
   
}
.box5 {
    width: 30px;
    background-color: red;
    border: 3px solid dashed black;
    padding: 30px;
    margin-bottom: 10px;
   
}
.box6 {
    width: 100px;
    height: 100px;
    background-color: red;
    padding: 30px ;
    border: 10px solid purple;
    margin-bottom: 50px;
    border-left: 5px solid green;
    border-right: 5px solid gray;
    border-top: 5px solid blue;
    border-bottom: 5px solid yellow;
   
    
   
}
